<?xml version="1.0"?>
<config>
    <modules>
        <Mageaustralia_Pdf>
            <version>1.0.0</version>
        </Mageaustralia_Pdf>
    </modules>
    <global>
        <helpers>
            <mageaustralia_pdf>
                <class>Mageaustralia_Pdf_Helper</class>
            </mageaustralia_pdf>
        </helpers>
        <blocks>
            <mageaustralia_pdf>
                <class>Mageaustralia_Pdf_Block</class>
            </mageaustralia_pdf>
        </blocks>
        <models>
            <mageaustralia_pdf>
                <class>Mageaustralia_Pdf_Model</class>
            </mageaustralia_pdf>
        </models>
        <events>
            <email_template_send_before>
                <observers>
                    <mageaustralia_pdf_attach>
                        <type>singleton</type>
                        <class>mageaustralia_pdf/observer</class>
                        <method>attachOnEmailSend</method>
                    </mageaustralia_pdf_attach>
                </observers>
            </email_template_send_before>
            <email_queue_send_before>
                <observers>
                    <mageaustralia_pdf_attach>
                        <type>singleton</type>
                        <class>mageaustralia_pdf/observer</class>
                        <method>attachOnEmailSend</method>
                    </mageaustralia_pdf_attach>
                </observers>
            </email_queue_send_before>
        </events>
    </global>
    <default>
        <mageaustralia_pdf>
            <general>
                <enabled>1</enabled>
            </general>
        </mageaustralia_pdf>
    </default>
</config>
